# General
PROJECT_NAME=azure-snowflake-dbt-local-data-platform
ENVIRONMENT=local
PYTHONPATH=.

# Local data directories
LOCAL_DATA_DIR=./data
DATA_RAW_DIR=data/raw
DATA_LANDING_DIR=data/landing
DATA_SAMPLES_DIR=data/samples
DATA_WAREHOUSE_DIR=data/warehouse

# Azurite configuration
AZURITE_ACCOUNT_NAME=devstoreaccount1
AZURITE_ACCOUNT_KEY=local-development-key
AZURITE_BLOB_ENDPOINT=http://127.0.0.1:10000/devstoreaccount1
AZURITE_QUEUE_ENDPOINT=http://127.0.0.1:10001/devstoreaccount1
AZURITE_TABLE_ENDPOINT=http://127.0.0.1:10002/devstoreaccount1

# DuckDB configuration
DUCKDB_PATH=data/warehouse/local_warehouse.duckdb
DBT_PROFILES_DIR=./dbt

# Redpanda configuration
REDPANDA_BROKER=localhost:9092
REDPANDA_ADMIN_API=http://localhost:9644
REDPANDA_CONSOLE_URL=http://localhost:8080
REDPANDA_TOPIC_CUSTOMER_EVENTS=customer-events
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
STREAMING_TOPIC=platform.events.raw
